/*********************************
/*  Ads Section Start
*********************************/
.adsThumb {
    height: 200px;
    width: 100%;
    border-radius: 12px;

    img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 12px;
        object-fit: cover;
    }
}
/*********************************
/*  Ads Section End
*********************************/
