/*********************************
/*  Product Single Start
*********************************/
.productGallery {
    &__main {
        width: 100%;
        background: var(--color-state-100);
        border-radius: var(--radius);

        .swiper-slide {
            height: auto;
        }

        .gallery__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-color: transparent;

            img {
                width: 100%;
                height: auto;
                display: block;
                max-height: 450px;
                border-radius: var(--radius);
                object-fit: cover;
                object-position: center;

                @include respond(phone-sm) {
                    max-height: 300px;
                }
            }
        }
    }
    &__thumb {
        background: var(--color-white);
        border-radius: var(--radius);
        width: 100%;
        margin-top: 12px;

        .gallery__item {
            border: 1px solid transparent;
            background: var(--color-bg);
            border-radius: 5px;
            width: 88px;
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: var(--radius);
                object-fit: cover;
                object-position: top;
            }
        }
        .swiper-slide-thumb-active {
            .gallery__item {
                border: 1px solid var(--color-primary-900);
            }
        }
    }
}

.product__details {
    position: relative;

    @include respond(tabport) {
        margin-top: 30px;
    }

    .brand {
        font-family: var(--font-default);
        font-weight: var(--font-regular);
        font-size: 12px;
        line-height: 16px;
        color: var(--color-primary-900);
        display: inline-block;
        padding: 4px 6px;
        border-radius: 4px;
        background: var(--color-primary-50);
    }

    .content__area {
        margin-top: 16px;
        display: block;

        .product__title {
            font-weight: var(--font-medium);
            font-size: 24px;
            line-height: 32px;
            color: var(--color-state-950);
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
        p {
            font-weight: var(--font-regular);
            font-size: 16px;
            line-height: 24px;
            color: var(--color-state-700);
            margin: 8px 0 0;
        }
        .flex__area {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin: 20px 0;
        }
        .ratings {
            display: flex;
            align-items: center;
            gap: 8px;
            border-right: 1px solid var(--color-state-200);
            padding-right: 20px;

            &:last-of-type {
                border-right: none;
                padding: 0;
            }

            .stars {
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 2px;
                color: var(--color-yellow);
            }
            span {
                font-size: 16px;
                line-height: 24px;
                color: var(--color-state-800);
                display: inline-block;
            }
            .solid__btn {
                color: var(--color-state-800);
            }
        }
        .wishlist {
            height: 24px;
            width: 24px;
            @include flexbox-center;
            border-radius: 50%;

            input {
                display: none;

                &:checked + label::before {
                    content: "\ee0a"; // Filled heart
                    color: var(--color-danger);
                }
            }

            label {
                font-size: 22px;
                cursor: pointer;

                &::before {
                    content: "\ee0b"; // Empty heart
                    font-family: "remixicon";
                    color: var(--color-state-600);
                }
            }
        }
        // Price area
        .price__area {
            display: flex;
            align-items: center;
            gap: 12px;
            border: 1px solid var(--color-state-200);
            border-left: none;
            border-right: none;
            padding: 16px 0;
            margin-bottom: 16px;

            .current__price {
                font-size: 30px;
                line-height: 36px;
                font-weight: var(--font-bold);
                color: var(--color-primary-900);
                display: flex;
                align-items: center;
                gap: 12px;

                @include respond(tabland) {
                    font-size: 26px;
                    line-height: 32px;
                }

                del {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: var(--color-state-400);

                    @include respond(tabland) {
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
            }
            .badges {
                background: var(--color-danger);
            }
        }
        // SelectBox
        .selectedBox {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @include respond(phone) {
                flex-wrap: wrap;
            }
            .title {
                font-weight: var(--font-regular);
                font-size: 16px;
                line-height: 24px;
                color: var(--color-state-600);
                margin-bottom: 0px;
                display: block;
                max-width: 100px;
                width: 100%;

                @include respond(tabland) {
                    max-width: 100px;
                }
            }
            .custom__radio {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 12px;

                input[type="radio"] {
                    display: none;

                    &:checked + .boxes {
                        border: 1px solid var(--color-primary-900);
                        background: var(--color-primary-100);
                    }
                }
                label {
                    cursor: pointer;
                }
                .boxes {
                    font-weight: var(--font-bold);
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--color-state-800);
                    padding: 6px 14px;
                    background: transparent;
                    border-radius: 6px;
                    border: 1px solid var(--color-state-200);
                    transition: var(--transition);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 44px;
                }
            }
            .colorBox {
                .boxes {
                    min-width: auto;
                    width: 36px;
                    height: 36px;
                    border-radius: 6px;
                    border: 1px solid var(--color-state-200);
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                    }
                    &.color-1 {
                        &::after {
                            background: var(--color-primary-950);
                        }
                    }
                    &.color-2 {
                        &::after {
                            background: var(--color-danger);
                        }
                    }
                }
                input[type="radio"] {
                    display: none;

                    &:checked + .boxes.color-1 {
                        border: 1px solid var(--color-primary-900);
                        background: var(--color-white);
                    }
                }
            }
        }
        // Product actions
        .product__actions {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            .quantity button {
                width: 40px;
                height: 40px;
            }

            .rs-btn {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;

                svg {
                    path {
                        fill: var(--color-primary-900);
                        transition: var(--transition);
                    }
                }

                &-outline {
                    &:hover {
                        svg {
                            path {
                                fill: var(--color-white);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*********************************
/*  Product Single End
*********************************/

/*********************************
/*  Product Detail Tab Start
*********************************/
.prod__description {
    h4 {
        font-family: var(--font-default);
        font-weight: var(--font-semibold);
        font-size: 18px;
        line-height: 26px;
        color: var(--color-state-950);
        margin-bottom: 8px;
        margin-top: 24px;

        &:first-of-type {
            margin-top: 0;
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: var(--font-regular);
        color: var(--color-state-950);
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .list_item {
        list-style: disc;
        padding-left: 25px;
        margin-bottom: 10px;

        li {
            font-size: 16px;
            line-height: 24px;
            font-weight: var(--font-regular);
            color: var(--color-heading);
            // display: block;
        }
    }
    .prod__thumb {
        margin: 32px 0;
        aspect-ratio: 8 / 4;

        img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: var(--radius);
            object-fit: contain;
        }
    }
}
// ShopCard Start
.shopsCard {
    background: var(--color-state-50);
    border: 1px solid var(--color-state-100);
    padding: 16px;
    border-radius: 12px;
    .wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: 12px;

        .icon {
            width: 56px;
            height: 56px;
            border: 1px solid var(--color-white);
            border-radius: var(--radius);

            img {
                width: 100%;
                height: auto;
                border-radius: var(--radius);
            }
        }
        .content {
            h4 {
                font-weight: var(--font-regular);
                font-size: 14px;
                line-height: 20px;
                color: var(--color-state-500);
                margin-bottom: 8px;
                display: block;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--color-state-950);
            }
        }
        .rating {
            font-weight: var(--font-medium);
            font-size: 14px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            margin-left: auto;

            i {
                color: var(--color-yellow);
            }
        }
    }
    .btn__group {
        border-top: 1px solid var(--color-state-100);
        padding-top: 12px;
    }
}
// Counter Wrapper Start
.counter__wrap {
    background: var(--color-state-50);
    border: 1px solid var(--color-state-100);
    border-radius: 12px;
    padding: 16px;

    .counterItem {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .icon {
            background: var(--color-state-100);
            border-radius: 12px;
            height: 40px;
            width: 40px;
            @include flexbox-center;

            svg {
                width: 24px;
            }
        }
        &__content {
            flex: 1;
            .title {
                font-weight: var(--font-regular);
                font-size: 16px;
                line-height: 24px;
                color: var(--color-state-500);
                display: block;
                margin-bottom: 6px;
            }
            .subtitle {
                font-weight: var(--font-bold);
                font-size: 16px;
                line-height: 24px;
                color: var(--color-state-950);
            }
        }
    }
}
/*********************************
/*  Product Detail Tab End
*********************************/
